@media(max-width:480px){

    body{
        height: 500px;
        width: auto;
    }

    .cont_0{
        padding-bottom: 45px;
    }

    .container1{
        width: 300px;
        height: 400px;
        margin: auto;
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
        border-radius: 30px;
    }

    .inp1{
        margin-left: 15px;
        width: 250px;
        height: 35px;
        border-radius: 20px;
        border-style: dashed;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 65px;
        padding-left: 10px;
        color: rgb(116, 116, 116);
    }

    .inp2{
        margin-left: 15px;
        width: 250px;
        height: 35px;
        border-radius: 20px;
        border-style: dashed;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 40px;
        padding-left: 10px;
        color: rgb(116, 116, 116);
    }

    .inp3{
        margin-left: 15px;
        width: 250px;
        height: 35px;
        border-radius: 20px;
        border-style: dashed;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 40px;
        padding-left: 10px;
        color: rgb(116, 116, 116);
        background-color: white;
    }

    .btn1{
        margin-left: 20px;
        width: 250px;
        height: 35px;
        border-radius: 20px;
        border-style: double;
        border-color: rgb(116, 116, 116);
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 40px;
        color: rgb(116, 116, 116);
        background-color: white;
    }
}